[package]
name = "rucomfyui_node_graph_demo"
version = "0.1.0"
edition = "2021"
description = "A demonstration of how to use `rucomfyui_node_graph` that talks to a ComfyUI server."

[dependencies]
anyhow = { workspace = true }
reqwest = { workspace = true }
web-time = { workspace = true }

# We don't need the typed nodes, so disable them
rucomfyui = { path = "../../crates/rucomfyui", default-features = false }
rucomfyui_node_graph = { path = "../../crates/rucomfyui_node_graph", default-features = false }
rucomfyui_workflow_converter = { path = "../../crates/rucomfyui_workflow_converter", features = ["lua", "rust"] }

eframe = { version = "0.29", features = ["persistence"] }
egui_extras = { version = "0.29", features = ["all_loaders"] }
rfd = "0.15"
image = { version = "0.25", default-features = false, features = ["png"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["full"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"
web-sys = "0.3"
